@model List<AcunmedyaAkademiPortfolio.Models.Tbltestimoniall>
<div class="container section-title" data-aos="fade-up">
    <h2>Referanslar</h2>
    <p>Projelerimle ilgili gelen yorumlar.</p>
</div>

<div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
        </script>
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="testimonial-item">
                    <div class="row gy-4 justify-content-center">
                        <div class="col-lg-6">
                            <div class="testimonial-content">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span> Emeğine Sağlık:) </span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <h3>Murat Yücedağ</h3>
                                <h4>Yazılım Mühendisi</h4>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 text-center">
                            <img src="/MyResume-1.0.0/assets/img/testimonials/mrat.jpg" class="img-fluid testimonial-img" alt="" >
                            
                        </div>
                    </div>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item">
                    <div class="row gy-4 justify-content-center">
                        <div class="col-lg-6">
                            <div class="testimonial-content">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Tebrikler!</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <h3>Gökhan Mutlay</h3>
                                <h4>Ceo</h4>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 text-center">
                           
                            <img src="/MyResume-1.0.0/assets/img/testimonials/muti.jpg" class="img-fluid testimonial-img" alt="">
                            
                          
                        </div>
                    </div>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item">
                    <div class="row gy-4 justify-content-center">
                        <div class="col-lg-6">
                            <div class="testimonial-content">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Başarılarının Devamını Dilerim!</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <h3>Esra Çufadaroğlu</h3>
                                <h4>Eğitim Kordinatörü </h4>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 text-center">
                            <img src="/MyResume-1.0.0/assets/img/testimonials/esra.jpg" class="img-fluid testimonial-img" alt="">
                           
                        </div>
                    </div>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item">
                    <div class="row gy-4 justify-content-center">
                        <div class="col-lg-6">
                            <div class="testimonial-content">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Pes etmeden devam et!</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <h3>Abdullah Kuş</h3>
                                <h4>Software Developer</h4>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 text-center">
                            <img src="/MyResume-1.0.0/assets/img/testimonials/abd.jpg" class="img-fluid testimonial-img" alt="">

                            
                        </div>
                    </div>
                </div>
            </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
    </div>

</div>

