@model  List<AcunmedyaAkademiPortfolio.Models.catagorytbl> 
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Emine Fıstık</h3>

<table class="table table-bordered">

    <tr>

        <th>Kategori Id</th>

        <th>Kategori Adı</th>

        <th>Sil</th>

        <th>Güncelle</th>

    </tr>

    @foreach (var item in Model)

    {
        <tr>

            <td>@item.categoryId</td>

            <td>@item.catagoryName</td>

            <td><a href="/Category/DeleteCategory/@item.categoryId" class="btn btn-danger">Sil</a></td>
             
            <td><a href="/Category/UpdateCategory/@item.categoryId" class="btn btn-success">Güncelle</a></td>

        </tr>
    }

    I

</table>

<a href="/Category/CreateCategory/" class="btn btn-primary">Yeni Kategori Girişi</a>