@model AcunmedyaAkademiPortfolio.Models.catagorytbl
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2> Kategori Güncelleme Sayfası</h2>

<form method="post">

    <label>Kategori Id</label>

    @Html.TextBoxFor(x => x.categoryId, new { @class = "form-control" })

    <br />

    <label>Kategori Adı</label>

    @Html.TextBoxFor(x => x.catagoryName, new { @class = "form-control" })

    <br />

    <button class="btn btn-success">Kategoriyi Güncelle</button>

</form>

