@model List<AcunmedyaAkademiPortfolio.Models.TblServiced>

<section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Kategoriler</h2>
        <p>Kategoriler Ve Projelerim Aşağıdadır.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">	Web projeleri</li>
                <li data-filter=".filter-app">Mobil projeler</li>
                <li data-filter=".filter-product">İçerikler</li>
                <li data-filter=".filter-branding">Analizler</li>
            </ul><!-- End Portfolio Filters -->

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="/MyResume-1.0.0/assets/img/portfolio/şş.PNG" class="img-fluid" alt="">

                    <div class="portfolio-info">
                        <h4>Anasayfa</h4>
                        <p></p>
                        <a href="/MyResume-1.0.0/assets/img/portfolio/şş.PNG" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">


                    <img src="/MyResume-1.0.0/assets/img/portfolio/y1.PNG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Hakkımda</h4>
                        <p></p>
                        <a href="/MyResume-1.0.0/assets/img/portfolio/y1.PNG" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">

                    <img src="/MyResume-1.0.0/assets/img/portfolio/p2.PNG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Referanslar</h4>
                        <p></p>
                        <a href="/MyResume-1.0.0/assets/img/portfolio/p2.PNG" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">

                    <img src="/MyResume-1.0.0/assets/img/portfolio/1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Pazaryeri</h4>
                        <p>Bütün Pazaryerleri Tek Kanalda Toplanmıştır</p>
                        <a href="/MyResume-1.0.0/assets/img/portfolio/1.jpg" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                    <img src="/MyResume-1.0.0/assets/img/portfolio/11.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Pazaryeri</h4>
                        <p></p>
                        <a href="/MyResume-1.0.0/assets/img/portfolio/11.jpg" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                    <img src="/MyResume-1.0.0/assets/img/portfolio/111.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Pazaryeri</h4>
                        <p></p>
                        <a href="/MyResume-1.0.0/assets/img/portfolio/111.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="/MyResume-1.0.0/assets/img/portfolio/şişe1.PNG" class="img-fluid" alt="">
                   
                    <div class="portfolio-info">
                        <h4>ShiShe</h4>
                        <p>Bu bir strateji oyunudur.</p>
                        <a href="/MyResume-1.0.0/assets/img/portfolio/şişe1.PNG"title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                    <img src="/MyResume-1.0.0/assets/img/portfolio/şişe2.PNG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>ShiShe</h4>
                        <p></p>
                        
                        <a href="/MyResume-1.0.0/assets/img/portfolio/şişe2.PNG" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                    <img src="/MyResume-1.0.0/assets/img/portfolio/şişe3.PNG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>ShiShe</h4>
                        <p></p>
                        
                        <a href="/MyResume-1.0.0/assets/img/portfolio/şişe3.PNG" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

            </div><!-- End Portfolio Container -->

        </div>

    </div>

</section>